@media screen and (max-width: 768px) {
  .btn {
    size: sm;
  }
}
@media screen and (min-width: 315x) {
  h1.Vy {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  h1.Vy {
    font-size: 80px;
  }
}
@media screen and (min-width: 992px) {
  h1.Vy {
    font-size: 100px;
  }
}
@media screen and (min-width: 1200px) {
  h1.Za {
    font-size: 120px;
  }
}

@media screen and (max-width: 576px) {
  h4.Za {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  h4.Za {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  h4.Za {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  h4.Vy {
    font-size: 25px;
  }
}



.background {
  position: absolute;
  background: url('../img/first.png');
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  filter: blur(3px);
  margin: 0 auto;
  
  
}
.textarea {
  position: absolute;
  color: #fff;
  margin-left: 10%;
  margin-top: 38vh;
  text-align: left;
  visibility: inherit;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px)
}
.Vy {
  
  font-weight: bold;
}
.Za {
  
  font-weight: 400px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 28%;

}